@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: white;
    font-family: 'Vujahday Script', cursive;
}
header {
    height: 150px;
    text-align: center;
}
h1 {
    padding: 20px;
    font-size: 4em;
}

#board {
    height: 500px;
    width: 400px;
    border: 1px solid green;
    margin: auto auto;
    background-color: lightgray;
}
#board-header {
    display: grid;
    width: 100%;
    height: 80px;
    background-color: grey;
    grid-template-columns: 1fr 1fr 1fr;
}
.btn-container {
    height: 50px;
    width: 100px;
    background-color: lightgreen;
    margin: auto auto;
}
#reset {
    width: 50px;
}
#grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 300px;
    width: 300px;
    margin: 50px auto 0 auto;
    border: 1px solid black;
    border-left: 1px solid black;
    font-family: courier;

    }
.square {
    height: 25px;
    width: 25px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 21px;
}

.surround-1 {
    color: blue
}
.surround-2 {
    color: green;
}
.surround-3 {
    color: red
}
.surround-4 {
    color: darkblue;
}